body {
  font-family: 'Roboto', sans-serif;
  background-color: #0ce63f;
  color: #ffffff;
}
h1 {
  font-family: 'Lobster', sans-serif;
}
main {
  width: 960px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  font-size: 3em;
}
main label {
  font-size: 2em;
}
main input {
  display: block;
  margin: 16px auto;
  font-size: 1.5em;
  max-width: 20%;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #d91717;
  text-align: center;
}
button {
  padding: 16px;
  cursor: pointer;
  font-size: 1.3em;
  margin-top: 26px;
  border-radius: 8px;
  background-color: #f0e512;
  border: none;
}
button:hover {
  transition: background-color 0.3s;
  background-color: #aba30b;
}
